@model LoginMvcAsp.Models.User1
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            position:absolute;
            left:40%;
            top:40%;
            border: 1px solid #ccc;
            padding: 10px 10px ;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Autherize", "Login",FormMethod.Post))
        {
            <table>
                <tr>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td style="text-decoration:underline">App Name</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.UserName)
                        @Html.EditorFor(model => model.UserName)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Paswword)
                        @Html.EditorFor(model => model.Paswword)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Login"/>
                        <input type="reset" value="Clear"/>
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
